body {
    margin: 0;
    padding: 0;
    background: rgb(126,106,255);
    background: linear-gradient(220deg, rgba(126,106,255,1) 0%, rgba(177,126,253,1) 100%);
    font-family: 'Ubuntu', sans-serif;;
    color: #fff;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 14pt;
}

.header_1 {
    display: flex;

}

.PS {
    padding: 42px 0 0 130px;
}
.menu {
    justify-content: center;
    padding-top: 40px;
    margin-left: 490px;
    z-index: 10;
}

.spisok {
    display: flex;
}
.element {
    padding-right: 34px;
}

.g {
    padding-right: 0;
}
.btn {
    background: #000;
    color: #fff;
    font-size: 16pt;
    border-radius: 100px;
    border: none;
    padding: 17px 30px;
    font-weight: bold;
    margin: 30px 0 0 490px;;
}

.kaplya {
    padding-left: 300px;
    float: right;
    position: absolute;
    z-index: 0;
}

.jostik {
    position: absolute;
    float: right;
    padding-left: 900px;
    padding-top: 94px;
    z-index: 0;
}

.header_1 {
    z-index: auto;
} 

.h1 {
    font-weight: bold;
    font-size: 96pt;
    letter-spacing: -4%;
    margin: 280px 0 0 130px;
}

.abzats {
    width: 384px;
}


